body {
	color:#7E7E7E;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	margin: auto;
	}

a {
	color:#3E739C;
	text-decoration:none;
	font-weight: bold;
	}

#accueil {
	width: 600px;
	margin:auto;

	}
	
.img-erep {
	margin-left: 60px;
	}
	
#chat {
	display: none;
	font-weight: bold;
	}

.ul {
	margin-left: 20px;
	}

ul {
    list-style: none;
	margin-left: -20px;
	max-width: 490px;
	}
	
li {
    font-weight: bold;
    padding: 10px 10px 10px 20px;
    border-top: 2px dotted #ccc;
    color: #666;
}

li:hover {
	background-color: #eee;
	}
	
.titre {
	color: #3e739c;
	font-size: 16px;
	}

h1, h2, h3, h4 { color: #3e739c; }
	
.leightbox {
	background-color:white;
	border:1em solid #B8B8B8;
	color:#333333;
	display:none;
	height:50%;
	left:25%;
	overflow:auto;
	padding:1em;
	position:absolute;
	text-align:left;
	top:25%;
	width:50%;
	z-index:1001;
}
#overlay {
	background-color:#333333;
	display:none;
	height:121%;
	left:0;
	opacity:0.8;
	position:absolute;
	top:0;
	width:100%;
	z-index:1000;
}

#footer {
	text-align: center;
	font-size: 11px;
	font-style: italic;
	}

/*
     FILE ARCHIVED ON 15:10:12 Sep 02, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:45:21 May 09, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.317
  load_resource: 258.167
  PetaboxLoader3.resolve: 242.009
  PetaboxLoader3.datanode: 14.837
*/